.nav-bar {
    margin: 15px 0 10px 0;
    padding: 10px 14px;
    background-color: #F8F7FB;
    border-radius: 8px;
    display: flex;
    gap: 2%;
    box-shadow: 0 0 7px #e5e1f9;
    justify-content: space-around;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 32%;
    border-radius: 24px;
    font-family: inter;
    font-size: 15px;
}

.nav-bar {
  position: relative;
  display: flex;
  gap: 2%;
}

/* THE MAGIC */
.indicator {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 32%;
  height: 70%;
  background: #6F3FBF;
  border-radius: 24px;
  padding: 10px 16px;
  transition: transform 200ms ease;
  z-index: 0;
}

.nav {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 15ms ease;
}

/* text animation */
.nav.active {
  color: white;
}