.note {
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 5%;
    font-family: inter, sans-serif;
    margin: 1px 3px 10px 3px;
    border-radius: 9px;
    padding: 12px 14px;
    box-shadow: 0 0 4px rgb(212, 212, 212);
}
.left-section .icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 14px;

}
.left-section .icon .icon-svg{
    width: 25px;
    height: 50px;
}
.right-section {
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 2%;
}
.right-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
}

.category {
    font-size: 13px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
}
.shopping-text {
    color: #C83648;
}
.shopping-text-bg {
    background-color: #FEEDEF;
}
.shopping-icon {
    background-color: #E4F9EF;
}
.briefcase-text {
    color: #C83648;
}
.briefcase-text-bg {
    background-color: #FEEDEF;
}
.briefcase-icon {
    background-color: #E9F0FE;
}
.book-text {
    color: #005F08;
}
.book-text-bg {
    background-color: #E4F9EF;
}
.book-icon {
    background-color: #E9F0FE;
}
.person-text {
    color: #6F3FBF;
}
.person-text-bg {
    background-color: #F1E8FF;
}
.person-icon {
    background-color: #F1E8FF;
}
