<div class="note">
    <div class="left-section">
        <div class="icon"><img src="/assets/{{note.icon}}.svg"></div>
    </div>
    <div class="right-section">
        <div class="right-left">
            <div>
                <app-note-heading [heading]="note.title"></app-note-heading>
                <app-note-content [data]="note.content"></app-note-content>
            </div>
            <div class="bottom-section">
                <div class="category">
                    <p>Work</p>
                </div>
            </div>
        </div>
        <div class="right-right">
            <img src="/assets/star.svg" >
            <p>Yesterday</p>
        </div>
    </div>
</div>