.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inter;
}
.heading h4 {
    color: #6F3FBF;
    font-size: 20px;
    font-weight: 900;
}
.heading img {
    width: 25px;
}