.note-list{
    scrollbar-width: none;
    padding-bottom: 15px;
    margin-top: 10px;
    overflow-y: auto;
    height: 70vh;
    width: 100%;
    gap: 10px;
}
h3 {
    font-family: inter;
    font-weight: 600;
    margin-bottom: 15px;
}
