.bottom-nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 85%;
    height: 100%;
    padding: 12px 10px 20px 10px;
    box-shadow: 0 0 1px #ededed;
    background-color: white;
}
.details {
    padding-top: 12px;
} 
.close {
    display: flex; 
    justify-content: flex-end;
    padding: 4px;
}
.tab, .tab2 {
    display: flex;
    font-family: inter;
    font-size: 14px;
    align-items: center;
    gap: 10px;
    color: rgb(27, 27, 27);
    padding: 12px 14px;
    border-radius: 14px;
}
.category-tab {
    padding-left: 18px;
}
/*.tab2 {
    display: flex;
    font-family: inter;
    font-size: 15px;
    align-items: center;
    padding: 12px 9px;
    border-radius: 14px;
}*/
.tab2{
    padding: 7px 9px;
    gap: 3px;
}

.profile {
    display: flex;
    font-family: inter;
    gap: 12px;
    padding: 12px 14px;
}
.profile-img {
    align-self: flex-start;
    width: fit-content;
    height: fit-content;
}
.profile-img img{
    border-radius: 56%;
}
.email {
    font-size: 13px;
    color: #4D4E5E;
}
.name {
    font-weight: 900;
}
hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: rgb(236, 236, 236);
}
.active {
    background-color: #F1E8FF;
}
.logout {
    color: red;
}
.left-section .icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 14px;

}
.icon-svg{
    width: 25px;
    height: 50px;
}
.bottom-nav {
    transform: translateX(-100%);
    animation: slideIn 200ms ease-out forwards;

    will-change: transform;
}

/* ENTER */
@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

/* EXIT */
.bottom-nav.closing {
    animation: none;
    transform: translateX(0);
    animation: slideOut 150ms ease-in forwards;
}

@keyframes slideOut {
    to {
        transform: translateX(-100%);
    }
}