.shell {
    display: flex;
    flex-direction: column;
    background-color: #F8FAFC;
    overflow-y: hidden;
    width: 100%;
    position: absolute;
}
.home {
    display: flex;
    padding: 20px; 
    flex-direction: column;
    flex: 1;
}
