.search-box {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}
.search-box input {
    padding: 16px 15px 16px 40px;
    border: 1px solid #CBD5E1;
    background-color: #F1F5F9;
    border-radius: 14px;
    color: #000000;
    outline: none;
    width: 100%;
}
.search-box img {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 10px;

}